main {
    display: grid;
}
img {
    max-width: 200px;

}

@media screen and (min-width: 800px) {
    main {
        grid-template-columns: 1fr 2fr 1fr;
    }
    img {
        grid-column: 1fr;
        /* justify-content: center; */
    }
    .about {
        max-width: 400px;
        grid-column: 2fr;        
    }
}
/* @media screen and (max-width: 800px) { */
    main {
        grid-template-columns: 1fr;
    }
    .about {
        max-width: 700px;
        justify-content: center;
        margin: 1em;
    }
    img {
        margin-left: 3em;
    }
/* } */